<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Thân gửi {{ name }},</p>
    {{!-- <p>Đơn hàng của bạn bao gồm:</p>
    <ul>
        {{#each products}}
            <li>Sản phẩm: {{this.product}} - Số lượng: {{ this.quantity }} - giá : {{ this.price }}% </li>
        {{/each}}
    </ul> --}}
    <p>Giao dịch thành công tai MTAlock, tổng số tiền là <strong>{{ cost }}</strong></p>
    {{!-- <p>Tên tài khoản: {{ bankName }}</p> --}}
</body>
</html>
